* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

:root {
  font-family: 'VTB Group UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  transition: 0.3s ease;
}

.task__container {
  background-color: #F9F7F4;
  border-radius: 20px;
  padding: 20px;
  min-height: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @media (max-width: 900px) {
    width: 300px;
  }
}

.task__title {
  text-align: center;
}

.delete-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  transition: 300ms ease;
  cursor: pointer;
}

.delete-svg {
  width: 25px;
  height: 25px;
}

.delete-svg:active {
  opacity: 0.7;
}

#root {
  background-color: #F9F7F4;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}