* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'HelveticNowBold';
  src: url(../../shared/fonts/HelveticaNowDisplay-BlackIta.woff2);
}
@font-face {
	font-family: 'Persona5'; 
	src: url(../../shared/fonts/Persona5MenuFontPrototype-Regular.ttf); 
}
@font-face {
  font-family: 'HelveticNow';
  src: url(../../shared/fonts/HelveticaNowDisplay-Regular.woff2);
}
body {
  background-color: #bb0000;
}
html, body, #root {
  height: 100%;
}

:root {
  font-family: 'VTB Group UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  transition: 0.3s ease;
}

.task__container {
  background-color: #F9F7F4;
  border-radius: 20px;
  padding: 20px;
  min-height: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @media (max-width: 900px) {
    width: 300px;
  }
}

.task__title {
  text-align: center;
}

.delete-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  transition: 300ms ease;
  cursor: pointer;
}

.delete-svg {
  width: 25px;
  height: 25px;
}

.delete-svg:active {
  opacity: 0.7;
}

#root {
  padding: 25px 0;
}

.btn {
  padding: 15px;
  border: 2px solid #fff;
  font-family: "Persona5";
  font-size: 30px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.btn:hover{
  opacity: 0.7;
}
.heading{
  font-family: 'Persona5';
  font-size: 45px;

  color: #fff;
  padding: 0 10px;
  transform: rotate(180deg);
} 

.heading__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    clip-path: polygon(10% 100%, 
    90% 100%, 
    87% 0%, 
    15% 0%);
    width: 330px;
    margin: 0 auto;
    margin-bottom: 25px;
    transform: rotate(185deg);
}

.task-container{
  position: relative;
  display: inline-block;
  background: url('../../shared/ui/assets/icons/TaskContainer.svg') no-repeat;
  background-size: 100% 100%;
  transition: 300ms ease;
  cursor: pointer;
  padding: 1rem;
}

.task-container:hover {
    transform: scale(1.1);
  }
  
  .gnsEEB{
    font-family: 'HelveticNowBold' !important;
  }
  .knife{
    top: -50px;
    position: absolute;
    height: 100px;
    left: 120px;
  }

  h4{
    display: inline;
    color:#fff;
    font-family: 'HelveticNowBold';
  }