.SelectWrapper{
    position: relative;
  display: inline-block;
  width: 210px;
}
#MySelect {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 30px;
    font-family: 'HelveticNowBold', sans-serif;
    -webkit-text-stroke: 2px black;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    appearance: none;
    border: 2px solid #000;
    outline: none;
}
.SelectWrapper::after {
    content: ""; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/select-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
}

.SelectOption {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

@media (max-width: 900px) {
  #MySelect {
    font-size: 20px;
  }
}