.filterContainer {
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 10px;
}